Getting the mean and standard deviation for standard scaling.

From the first 20 trials.

In [1]:
from library.datasets import (
    load_aggregated_raw_signal,
    apply_q_squared_veto
)

datasets_dir = "../../state/new_physics/data/processed"

In [2]:
df_gen_train = apply_q_squared_veto(load_aggregated_raw_signal("gen", "train", datasets_dir), "loose")
df_det_train = apply_q_squared_veto(load_aggregated_raw_signal("det", "train", datasets_dir), "loose")

Loaded aggregated raw signal file: ..\..\state\new_physics\data\processed\agg_sig_1_to_20_gen.pkl
Loaded aggregated raw signal file: ..\..\state\new_physics\data\processed\agg_sig_1_to_20_det.pkl

In [3]:
df_gen_train_with_q2_veto = apply_q_squared_veto(load_aggregated_raw_signal("gen", "train", datasets_dir), "tight")
df_det_train_with_q2_veto = apply_q_squared_veto(load_aggregated_raw_signal("det", "train", datasets_dir), "tight")

Loaded aggregated raw signal file: ..\..\state\new_physics\data\processed\agg_sig_1_to_20_gen.pkl
Loaded aggregated raw signal file: ..\..\state\new_physics\data\processed\agg_sig_1_to_20_det.pkl

In [4]:
df_gen_train

       q_squared  costheta_mu  costheta_K       chi   dc9
0      15.476120     0.618049    0.511930  3.150466 -0.01
1      18.242179    -0.196014   -0.932849  3.143555 -0.01
2       6.564215     0.740818   -0.861226  3.228839 -0.01
3       5.359132     0.101577    0.983497  3.460548 -0.01
4       9.160250    -0.001021    0.461746  1.306527 -0.01
...          ...          ...         ...       ...   ...
23995   3.332588     0.408602   -0.874146  0.691708  1.10
23996  17.124116     0.209795    0.095425  5.403040  1.10
23997   5.094312     0.032625   -0.879493  3.622947  1.10
23998  15.846740     0.075416    0.816169  5.207990  1.10
23999   8.796282    -0.321755    0.846202  3.321030  1.10

[21021610 rows x 5 columns]

In [5]:
df_det_train

      q_squared  costheta_mu  costheta_K       chi   dc9
0      2.923588     0.410200    0.972397  1.926879 -0.01
1      2.876313    -0.012163    0.395988  4.557953 -0.01
2     18.961957    -0.050265    0.827746  1.587596 -0.01
3      3.344651     0.174485    0.984753  1.401428 -0.01
4     14.531015     0.589343    0.685277  1.866032 -0.01
...         ...          ...         ...       ...   ...
8990  19.163194    -0.040717   -0.692058  4.450255  1.10
8991  14.909839    -0.085245    0.014305  1.221083  1.10
8992   5.536884     0.654435   -0.825654  4.633005  1.10
8993  16.662516     0.096783   -0.790189  0.491373  1.10
8994  14.323894     0.535017   -0.444524  4.679037  1.10

[7732945 rows x 5 columns]

In [6]:
df_gen_train_with_q2_veto

       q_squared  costheta_mu  costheta_K       chi   dc9
2       6.564215     0.740818   -0.861226  3.228839 -0.01
3       5.359132     0.101577    0.983497  3.460548 -0.01
6       2.916781     0.408023    0.968456  1.950059 -0.01
7       3.996172     0.358320    0.286946  2.656886 -0.01
9       7.065142     0.801546    0.931857  0.145634 -0.01
...          ...          ...         ...       ...   ...
23988   7.099526     0.084240   -0.915067  1.402989  1.10
23989   4.590474     0.762792   -0.709526  2.630846  1.10
23994   6.122463     0.853467    0.520956  3.315593  1.10
23995   3.332588     0.408602   -0.874146  0.691708  1.10
23997   5.094312     0.032625   -0.879493  3.622947  1.10

[6766618 rows x 5 columns]

In [7]:
df_det_train_with_q2_veto

      q_squared  costheta_mu  costheta_K       chi   dc9
0      2.923588     0.410200    0.972397  1.926879 -0.01
1      2.876313    -0.012163    0.395988  4.557953 -0.01
3      3.344651     0.174485    0.984753  1.401428 -0.01
6      2.509289    -0.357700   -0.718446  0.250974 -0.01
7      2.861786     0.209034   -0.810069  1.216712 -0.01
...         ...          ...         ...       ...   ...
8974   5.816253    -0.279410   -0.099240  5.378984  1.10
8978   5.029454     0.906688   -0.442056  4.467977  1.10
8982   6.775948    -0.602947   -0.904607  3.396765  1.10
8988   2.921555     0.190995    0.982662  3.296196  1.10
8992   5.536884     0.654435   -0.825654  4.633005  1.10

[2052567 rows x 5 columns]

In [8]:
df_gen_train.mean()

q_squared      9.248781
costheta_mu    0.151290
costheta_K     0.000234
chi            3.141442
dc9           -0.436945
dtype: float64

In [9]:
df_gen_train.std()

q_squared      5.311177
costheta_mu    0.524446
costheta_K     0.635314
chi            1.803100
dc9            0.908739
dtype: float64

In [10]:
df_det_train.mean()

q_squared      10.353162
costheta_mu     0.177404
costheta_K     -0.031136
chi             3.141597
dc9            -0.429798
dtype: float64

In [11]:
df_det_train.std()

q_squared      5.242896
costheta_mu    0.508787
costheta_K     0.622743
chi            1.820018
dc9            0.908040
dtype: float64

In [12]:
df_gen_train_with_q2_veto.mean()

q_squared      4.752486
costheta_mu    0.065137
costheta_K     0.000146
chi            3.141082
dc9           -0.437289
dtype: float64

In [13]:
df_gen_train_with_q2_veto.std()

q_squared      2.053569
costheta_mu    0.505880
costheta_K     0.694362
chi            1.811370
dc9            0.909647
dtype: float64

In [14]:
df_det_train_with_q2_veto.mean()

q_squared      4.943439
costheta_mu    0.077301
costheta_K    -0.068484
chi            3.141730
dc9           -0.431135
dtype: float64

In [15]:
df_det_train_with_q2_veto.std()

q_squared      2.030002
costheta_mu    0.463005
costheta_K     0.696061
chi            1.830277
dc9            0.909128
dtype: float64