In [15]:
x = 1 if False else 2 if False else lambda: ValueError

In [21]:
x  = [i for i in range(10) if i in range(5,10)]
x

[5, 6, 7, 8, 9]

In [10]:
import torch

a = torch.tensor([[1,1,2,4], [3,3,3,3]])

u = torch.unique(a)
u
# len(u)

tensor([1, 2, 3, 4])

In [1]:


class Poo:
    def __init__(self):
        do_print()

def do_print():
    print("hi")

poo = Poo()

hi

In [1]:
import numpy
import pandas

numpy.array(pandas.Series([1,2,4]))

array([1, 2, 4])

In [1]:
import pandas

df = pandas.DataFrame({"a":[1,2,3], "b":[4,5,6]})

In [27]:
df[df["a"].isin([1,3])]

   a  b
0  1  4
2  3  6